node_modules/
bun.lock

*.zkey
*.ptau
*.wtns
*.r1cs
*.wasm
*.sym

.env
.env.*
*.eml

.idea/
.vscode/
*.swp
.DS_Store

packages/circuits/build/
packages/circuits/proofs/

packages/indexer/.ponder/

packages/app/dist/
