{$API_DOMAIN} {
	reverse_proxy prover:3001
}

{$ANVIL_INDEXER_DOMAIN} {
	reverse_proxy indexer:42069
}

{$ANVIL_RPC_DOMAIN} {
	reverse_proxy anvil:8545
}

{$BASE_INDEXER_DOMAIN} {
	reverse_proxy indexer-base:42069
}

{$ARB_INDEXER_DOMAIN} {
	reverse_proxy indexer-arb:42069
}
